@import url("https://fonts.googleapis.com/css?family=Rubik:300,400");
/* ==========================================================================
   HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/
   ========================================================================== */
html {
  color: #222;
  font-size: 62.5%;
  line-height: 1.5; }

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-weight: normal; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ajax loader
----------------------------------------------------------------------------- */
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    border-width: 6px; }
  33% {
    width: 5rem;
    height: 5rem;
    opacity: 1; }
  100% {
    width: 10rem;
    height: 10rem;
    border-width: 1px;
    opacity: 0; } }
@-moz-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    border-width: 6px; }
  33% {
    width: 5rem;
    height: 5rem;
    opacity: 1; }
  100% {
    width: 10rem;
    height: 10rem;
    border-width: 1px;
    opacity: 0; } }
@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    border-width: 6px; }
  33% {
    width: 5rem;
    height: 5rem;
    opacity: 1; }
  100% {
    width: 10rem;
    height: 10rem;
    border-width: 1px;
    opacity: 0; } }
@-webkit-keyframes temps {
  0% {
    background: rgba(0, 0, 255, 0.5); }
  50% {
    background: rgba(0, 255, 0, 0.5); }
  100% {
    background: rgba(255, 0, 0, 0.5); } }
@-moz-keyframes temps {
  0% {
    background: rgba(0, 0, 255, 0.5); }
  50% {
    background: rgba(0, 255, 0, 0.5); }
  100% {
    background: rgba(255, 0, 0, 0.5); } }
@keyframes temps {
  0% {
    background: rgba(0, 0, 255, 0.5); }
  50% {
    background: rgba(0, 255, 0, 0.5); }
  100% {
    background: rgba(255, 0, 0, 0.5); } }
.loader {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-animation: temps 5s ease-out infinite alternate;
  -moz-animation: temps 5s ease-out infinite alternate;
  animation: temps 5s ease-out infinite alternate;
  z-index: 100;
  pointer-events: none; }

.loader__ripple {
  border-radius: 50%;
  border: 10px solid #ffffff;
  -webkit-animation: ripple 2s ease-out infinite;
  -moz-animation: ripple 2s ease-out infinite;
  animation: ripple 2s ease-out infinite; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0.5em 0;
  background: white;
  text-align: center;
  z-index: 10; }
  header.animated {
    will-change: transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear; }
  header.slideDown {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  header.slideUp {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }

button {
  height: 1.75em; }

.container {
  overflow-x: hidden; }

.calendar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100vw; }

.calendar__day {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-flex-basis: calc(100vw / 7);
  -moz-flex-basis: calc(100vw / 7);
  flex-basis: calc(100vw / 7);
  -ms-flex-preferred-size: calc(100vw / 7);
  height: calc(100vw / 7);
  color: rgba(0, 0, 0, 0.33); }

.day__value {
  display: none;
  font-size: 2em;
  font-weight: 300;
  color: white; }

.day__value--none {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.33); }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 768px) {
  body {
    font-size: 2em; }

  .calendar {
    width: 100vw; }

  .calendar__day {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    height: calc(100vh / 7); }

  .day__date br {
    display: none; }

  .day__value {
    font-size: 1.5em; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
